<div class = "grid-card">
    <div class="card-1">
        <h2><%= mealKits.title%></h2>
        <p><%= mealKits.includes %></p>
        <p><%= mealKits.description%></p>
        <p><%= mealKits.category %></p>
        <p>$<%= mealKits.price %></p>
        <p>Cooking Time: <%= mealKits.cookingTime %>minutes</p>
        <p>Servings: <%= mealKits.servings%></p>  
        <img src="<%= mealKits.imageUrl%>" alt="<%= mealKits.title%> Image">
      </div>
      </div>